:root{
    --colorGreen100:#42EB66;
    --colorGreen200:#ACF2BB;
    --colorBlack:#2c2c2c;
    --colorWhite200:#E9FFF1;
    --colorWhite100:#F2DFE5;
    --colorBlue:#9BAFF5;

}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Wix Madefor Text', sans-serif;
  font-size: larger;
}
ul{
    background-color: var(--colorBlack);
   
}
li{ 
    color: var(--colorWhite200);
}
header div{
  color: var(--colorBlack);
  min-height: 40px;
 
}
header img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  
}

footer p{
    min-height: 40px;
    color: var(--colorBlack);
}
section {
  margin: 40px;
  padding: 2px 5px;
  background-color: var(--colorBlack);
  color: var(--colorWhite100);
  border-radius: 5px;
  padding: 50px;
}

.index {
  height: 20px;
  background-color: var(--colorGreen200);
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  
}

.barDog {
  height: 100%;
  background-color: var(--colorGreen100);
  border-radius: 6px;
  position: absolute

}
.barCat {
    height: 100%;
    background-color: var(--colorGreen100);
    border-radius: 10px;
    position: absolute;
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--colorBlack);
   
  }
.backgroundBrown {
  background-color: var(--colorWhite200);
}
.colorWhite {
  color: white;
}
.colorGreen{
   color: var(--colorGreen100);
   text-decoration: none;
   font-size: larger;
}
.imgHeader{
    max-height: 100px;

}